<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ziqi.baselibrary">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <provider
            android:name=".contentprovider.InitContentProvider"
            android:authorities=":init"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.ServerTimerService"
            android:exported="true" />

        <activity
            android:name=".common.WebActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|smallestScreenSize|orientation"
            android:launchMode="singleTop"
            android:process=":web" />
        <activity
            android:name=".common.CommonActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|smallestScreenSize|orientation" />
    </application>

</manifest>