<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ziqi.baselibrary">

    <application>
        <provider
            android:name=".contentprovider.InitContentProvider"
            android:authorities="myAuthorities"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.ServerTimerService"
            android:exported="true" />
    </application>

</manifest>